<%= form_for(wiki) do |f| %>
  <% if wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, size: "99" %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, size: "100x10" %>
  </div>

  <div id="markdown_title"></div>
  <div id="markdown_body"></div>

  <% if current_user.admin? || current_user.premium? %>
    <div class="field">
      <%= f.label :private, class: 'checkbox toTheRight' do %>
        <%= f.check_box :private %> Make this Wiki Private <br />
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>: <%= current_user.email %>
  </div>
  
  <div class="field">
    <%= f.label "Select Collaborators for this Wiki" %><br />
    <%= f.collection_check_boxes :collaborators, User.all.select{ |m| m != current_user}, :id, :username do |b| %>
      <div class="collection-check-box">
        <%= b.label { b.check_box + b.object.username } %>
        <%#= b.check_box %>
        <%#= b.object.username %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
